//color
$off-black: #20202b;
$off-white: #a5afd8;
$dark-blue: #333745;
$purple: #800380;
$blue: #3c4251;
$light-blue: #464b5e;

//spacings
//m-size
$desktop-breakpoint: 45rem;
$s-size: 1.2rem;
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;